<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div >
                <div >
                   <h3 text-align: center>Marca tu posición en el mapa</h3>
  
                   <google-map width = "1000" height="700" [center]="position" >
                     <map-marker *ngFor= "let location of locations"
                      [position]="location"
                      [label]= "label"
                      [title]= "title"
                     >
                     </map-marker>
                   </google-map>
                   <button (click)="posicionActual()">Mostrar posición actual</button>
                   <!-- <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
          <div class="col-lg-6">
              <div class="card">
                  <div class="card-body">
                      <h5 class="titulo">
                          Agregar dirección
                      </h5>      
                      <form>
                          <div >
                              <span  >
                                  <i 
                                    
                                  ></i>
                              </span>
                              <input formControlName="Nombres" type="text" placeholder="Nombres" >
                            </div>   
                            <div >
                              <button  type="submit" >enviar dirección</button>
                            </div>
                      </form>                                 
                </div>
            </div>
        </div>
      </div>
  
  </div>