<div class="container mt-5">
  <div class="row">
      <div class="col-lg-8 offset-lg-2">
          <div >
              <div >
                 <h3 text-align: center>Marca tu posición en el mapa</h3>
                 <google-map width = "1000" height="700" [center]="position" >
                   <map-marker
                    [position]="position"
                    [label]= "label"
                    [title]= "title"
                   >
                   </map-marker>
                 </google-map>
              </div>
          </div>
      </div>
  </div>

</div>